<a href="https://colab.research.google.com/github/bdfd/Portfolio_Project_11-Startup_Profit_Prediction/blob/main/Startup_Profit_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Startup Profit Prediction

## Basic Approach

The Approach
1. Perform some quick EDA(Exploratory Data Analysis)
2. Use Scikit-Learn Regression Algorithm
3. Covert data into an array
4. Converting the target variable into Multivariate Linear Regression Algorithms

Classification Model:
  *   1. Multivariate Linear Regression 

Target Cluster Datasets is about a set of data regarding about profit based on  following fields.  

| Field          | Description                                                                           |
|----------------|---------------------------------------------------------------------------------------|
| R&D    | Spend on Research and Development                                   |
| Aministration      | Spend on administration events or activities            |
| Marketing Spend      | Spend on marketing and advertistment                  |
| State      | Company Location                                                |
| Profit      | Company earning by spending throughtout year                   |

In [31]:
# import necessary packages
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [ ]:
# read the dataset
data_path = 'https://raw.githubusercontent.com/bdfd/Portfolio_Project_11-Startup_Profit_Prediction/main/dataset/50_Startups.csv'
# upload dataset into data frame
df = pd.read_csv(data_path)
df.head(3)

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39

In [ ]:
df.isna().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [ ]:
X = df.drop('Profit', axis=1)
y = df['Profit']
y.head(3)

0    192261.83
1    191792.06
2    191050.39
Name: Profit, dtype: float64

In [ ]:
# from sklearn.preprocessing import OneHotEncoder
# from sklearn.compose import ColumnTransformer
categorical_feature = ['State']
one_hot = OneHotEncoder()
transformer = ColumnTransformer([('one_hot',
                                  one_hot,
                                  categorical_feature)],
                                remainder = 'passthrough')
transformed_X = transformer.fit_transform(X)

In [ ]:
pd.DataFrame(transformed_X).head(3)

     0    1    2          3          4          5
0  0.0  0.0  1.0  165349.20  136897.80  471784.10
1  1.0  0.0  0.0  162597.70  151377.59  443898.53
2  0.0  1.0  0.0  153441.51  101145.55  407934.54

In [24]:
# from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(transformed_X, y, test_size=0.2, random_state=66)

In [25]:
# from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [27]:
model.score(X_test, y_test)

0.9321329899097172

In [28]:
y_pred = model.predict(X_test)

In [30]:
d = {'y_pred': y_pred, 'y_test':y_test}
pd.DataFrame(d)

           y_pred     y_test
4   172447.318658  166187.94
47   50420.080697   42559.73
25  105042.626647  107404.34
5   162767.470172  156991.12
1   189895.830428  191792.06
49   51784.152080   14681.40
14  151113.870087  132602.65
37   91551.812585   89949.14
17  130463.914647  125370.37
41   76923.263815   77798.83